= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  = f.nested_fields_for :videos do |q|
    = q.label :example,"例文", class: "control-label"
    = q.text_field :example, class: "form-control"
    = q.label :sugested,"模範解答", class: "control-label"
    = q.text_field :sugested, class: "form-control"
    = q.label :answer,"回答:回答者が記入します",class: "control-label"
    = q.text_field :answer, class: "form-control"
    = q.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button'
  = f.add_nested_fields_link :videos, 'Add new', class: 'btn btn-primary', role: 'button'
  = f.submit "問題を登録する",class: "btn btn-success"
